html,body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#counter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: teal;
    text-align: center;
}


#question {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:slategray;
    text-align: center;
}

#question #q {
    color: white;
    font-size: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#thank {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:slategray;
    text-align: center;
}

#thank #u {
    color: white;
    font-size: 120px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

#counter #number {
    font-size: 260px;
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
}

#question #number {
    font-size: 200px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 15%;
}

#action {
    color: black;
    background-color: #ffd344;
    border: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 0px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
}

.actiond {
    position: fixed !important;
    top: 70% !important;
    transform: translateY(-70%) !important; 
    left: 50% !important;
    transform: translateX(-50%) !important; 
}

#devby {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
}

#source {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
}